---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
---

<Layout title={`Blackjack Trainer | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Blackjack Trainer" pageDesc="Get in touch about the blackjack trainer">
    <div class="prose prose-lg max-w-none">
      <p>Please contact me through my social links at the bottom of the page for more information about the blackjack trainer.</p>
    </div>
  </Main>
  <Footer />
</Layout>